<div class="load-related">
  <h2>Saving and Loading:</h2>

  <ul class="menu">
    <li>
      <form action="/load" method="get">
        <button type="submit" value="Submit" class="brown">
          <p>Load Tourniment</p>
        </button>
      </form>
    </li>
    <li>
      <form action="/save" method="post">
        <button type="submit" value="Submit" class="confirm brown">
          <p>Confirm</p>
        </button>
        <label class="brown">
          <p>Save Current Tourniment As:</p>
          <input name="filename" type="text"/>
        </label>
      </form>
    </li>
    <li>
      <form action="/tourniment/new" method="post" class="new-tournament">
        <button type="submit" value="Submit" class="confirm brown">
          <p>Confirm</p>
        </button>
        <label class="brown new-tournament">
          <p>New Tourniment:</p>
          <input name="filename" type="text"/>
        </label>
      </form>
    </li>
    <li>
      <form action="/autosave" method="post">
        <button type="submit" value="Submit" class="brown">
          <p>Auso-Save Current Tourniment</p>
        </button>
      </form>

    </li>
  </ul>
</div>

<div class="ladder">
  <h2>Ladder (Round
    <%= session[:round_no] %>):</h2>
  <ol>
    <% @player_list.each do |player| %>
    <li class="player-list <%= check_playing(player) %>">
      <div class="clearfix">
        <form class="delete-form" action="/delete_player/<%= player.name %>" method="post">
          <button class="delete-player" type="submit" value="Submit">
            <div>Delete</div>
          </button>
        </form>
        <form class="delete-form edit" action="/edit_player/<%= player.name %>/<%= player.score %>" method="get" class="edit">
          <button class="delete-player" type="submit" value="Submit">
            <div>Edit</div>
          </button>
        </form>
        <form action="/toggle/<%= player.name %>" method="post" class="player-name">
          <button type="submit" value="Submit" class="player-name">
            <%= player.name %>:&nbsp;<%= player.score %>
          </button>
        </form>
      </div>
    </li>
    <% end %>
  </ol>

  <a href="/toggle_all">
    <button class="prominent grey">Re-Enter All Players</button>
  </a>

  <a href="/new_player">
    <button class="prominent red">New Player</button>
  </a>

  <a href="/new_round">
    <button class="prominent green">New Round</button>
  </a>
</div>
