<p><%= session.delete(:success) %></p>

<table>
  <thead>
    <tr>
      <th>Name: </th>
      <th>Created: </th>
      <th>Card Number: </th>
      <th>Expiration Date: </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= session[:first_name] %></td>
      <td><%= @time %></td>
      <td>****-****-****-<%= session[:num][-4..-1] %></td>
      <td><%= session[:date] %></td>
    </tr>
  </tbody>
</table>
