extends layout

block content
  h1= title
  p different text yloooooooooooooooooooooooooooooooooooooo
  ul
    li #{title}#{title}
    li #{title}
    li #{title}#{title}
    li #{title}
    li #{title}#{title}
